@import "src/styles/index";
$baseClass: 'btn';

.#{$baseClass} {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: px-to-rem(10) px-to-rem(20);
    height: px-to-rem(50);
    border-radius: px-to-rem(8);
    box-shadow: inherit;
    border: 1px solid transparent;
    font-size: px-to-rem(18);
    cursor: pointer;
    background-color: transparent;
    transition: all 0.15s ease-in-out;
    white-space: nowrap;
    box-sizing: border-box;

    &--prepend {
        > span {
            margin-right: px-to-rem(10);
        }
    }
    &--append {
        > span {
            margin-left: px-to-rem(10);
        }
    }
    &--disabled {
        cursor: not-allowed;
    }
    &--icon {
        width: px-to-rem(50);
        height: px-to-rem(50);
        > span {
            margin: 0;
        }

        &:hover {
            border-radius: 100%;
        }
    }
    &--block {
        width: 100%;
    }


    &--primary {
        background-color: #11615C;
        color: #FFFFFF;

        &:not(.#{$baseClass}--disabled):hover {
            background-color: #4d8985;
        }
        &.#{$baseClass}--disabled {
            background-color: #88b0ae;
        }
    }
}
