@use "sass:math";
@import '../../styles/index';

$baseClass: 'radio';
$checkedColor: #11615C;
$checkedColorHover: #4D8985;
$unCheckedColorHover: #DFFBF2;
$disabledColor: #EEEEEE;
$disabledTextColor: #9E9E9E;

.#{$baseClass} {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 1px solid $checkedColor;

    & > input[type="radio"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 100%;
        width: 100%;
        z-index: 2;
        left: 0;
        top: 0;
        margin: 0;

        & + label {
            padding: px-to-rem(0) px-to-rem(24);
            background-color: #FFFFFF;
            color: $checkedColor;
            font-size: px-to-rem(14);
            line-height: px-to-rem(20);
            letter-spacing: px-to-rem(-0.15);
            min-height: px-to-rem(32);
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
        &:hover + label {
            background-color: $unCheckedColorHover;
        }
        &:checked + label {
            background-color: $checkedColor;
            color: #FFFFFF;
        }
        &:checked:hover + label {
            background-color: $checkedColorHover;
            color: #FFFFFF;
        }
        &:disabled + label {
            background-color: #FFFFFF;
            color: $disabledTextColor;
            cursor: not-allowed;
        }
        &:checked:disabled + label {
            background-color: $disabledColor;
            color: $disabledTextColor;
            cursor: not-allowed;
        }
    }

    &__group {
        display: inline-flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;

        & > .radio:first-child {
            border-top-left-radius: px-to-rem(4);
            border-bottom-left-radius: px-to-rem(4);
        }
        & > .radio:last-child {
            border-top-right-radius: px-to-rem(4);
            border-bottom-right-radius: px-to-rem(4);
        }
        & > .radio:not(:last-child) {
            border-right: none;
        }
    }

    &--disabled {
        border: 1px solid $disabledColor;
    }

    &:not(:last-child) {
        margin-bottom: px-to-rem(8);
    }
}
